.presentation__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.presentation__links__div{
    text-align: center;
}
.presentation__h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    text-align: center;
}
.presentation__p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
.presentation__links__p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: 300;
}
.presentation__links__a{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: 300;
}
.presentation__img{
    display: block;
    border-radius: 50%;
    width: 16em;
    margin-left: auto;
    margin-right: auto;
}
.presentation__links__img{
    width: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.presentation__line{
    background-color: black;
    width: auto;
    height: 3px;
}
.content__h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1em;
}
.content__h4{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
    margin: auto;
}
.content__ul{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    font-weight: 300;
    padding: 1em;
    text-align: center;
}
.content__p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;

}
.content__img{
    width: 2.5em;
    margin: auto 1em;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "uno uno"
    "cuatro cuatro"
    "dos tres"
    "dos tres"
}
.content__div{
    display: flex;
    justify-content: center;
    grid-area: uno;
}
.profile-text{
    margin-top: auto;
    margin-bottom: auto;
    grid-area: cuatro;
}
.content__highschool{
    margin-top: auto;
    margin-bottom: auto;
    grid-area: dos;
}
.content__college{
    grid-area: tres;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c c"
}
.skills__skills{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    grid-area: a;
}
.skills__jobs{
    display: flex;
    grid-area: b;
    justify-content: center;
}
.job{
    padding: 0em;
}
.content__profile{
    text-align: center;
}

